<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Mina & Tanja's Recipe Search</title>
    <style>
        body {
        width: 80vw;
        height: 100vh;
        }

        input {
            width: 50%;
        }

    </style>
</head>
<body>
<h1>Mina & Tanja's Recipe Search</h1>
<label for="ingredient">Enter the name of an ingredient</label>
{{ INGREDIENT = <input id="ingredient" type="text" placeholder="For example, cheese, tomato, ..."> }}
<button type="submit" for="ingredient">
</body>

</html>